<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Home</li>
  </ol>
</nav>
<div class="container">
<div class="jumbotron">
  <div class="row">
    <div class="col-sm-6">
      <div class="card text-center">
        <div class="card-body">
          <h2 class="card-title">Freelancer</h2>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <h3><a href="#" class="badge-pill badge-danger">50₺ Monthly</a></h3>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card text-center">
        <div class="card-body">
          <h2 class="card-title">Employer</h2>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <h3><a href="#" class="badge-pill badge-danger">Free</a></h3>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
