  <footer class="fixed-bottom">
    <nav class="navbar fixed-bottom navbar-light bg-light">
      <div class="row">
        <div class="col">
          <div class="footer" style="width: 15rem;">
            <div class="footer">
              <h4>Home</h4>
            </div>
            <ul class="list-group list">
              <a href="#">Appearance</a>
              <a href="#">Content</a>
              <a href="#">Jop Offers</a>
              <a href="#">Sell</a>
              <a href="#">Guide</a>
              <a href="#">Talents</a>
            </ul>
          </div>
        </div>
        <div class="col">
          <div class="footer" style="width: 15rem;">
            <div class="footer">
              <h4>Company</h4>
            </div>
            <ul class="list-group list">
              <a href="#">About Us</a>
              <a href="#">FAQ</a>
              <a href="#">Statics</a>
              <a href="#">Spoke</a>
            </ul>
          </div>
        </div>
        <div class="col">
          <div class="footer" style="width: 15rem;">
            <div class="footer">
              <h4>Resources</h4>
            </div>
            <ul class="list-group list">
                <a href="#">Business</a>
                <a href="#">Education</a>
                <a href="#">Government</a>
                <a href="#">Gaming</a>
            </ul>
          </div>
        </div>
        <div class="col">
          <div class="footer" style="width: 15rem;">
            <div class="footer">
              <h4>Help</h4>
            </div>
            <ul class="list-group list">
              <a href="#">Team</a>
              <a href="#">Locations</a>
              <a href="#">Privacy</a>
              <a href="#">Terms</a>
            </ul>
          </div>
        </div>
        <div class="col">
          <div class="footer" style="width: 20rem;">
            <div class="footer">
              <%= link_to image_tag("logo.png", alt: "logo"), root_path, class: "media" %><h4>Emekchi</h4>
            </div>
            <p>&nbsp;&nbsp;The platform that makes employer and freelancer meet.</p>
          <p> &nbsp;&nbsp;<a href="#"><i class="fab fa-facebook fa-2x " style="color:$brand"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#"><i class="fab fa-twitter fa-2x" style="color:$brand"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#"><i class="fab fa-instagram fa-2x" style="color:$brand"></i></a></p>
        </div>
      </div>
    </nav>


  </footer>
